#!/bin/bash
#
# After application is copied to final destination folder

if [[ "$DEPLOYMENT_GROUP_NAME" == "Development" ]]; then
    name=timeline-writer-dev
    supervisor_prog=timeline-writer-dev
else
    name=timeline-writer
    supervisor_prog=timeline-writer
fi

new_release_dir=/srv/$name/release/{{tag}}

cd $new_release_dir
rm /srv/$name/current -f
ln -s $new_release_dir /srv/$name/current
supervisorctl restart $supervisor_prog
