[program:timeline-writer]
command=/srv/timeline-writer/current/worker
numprocs=1
autostart=true
autorestart=true
stopsignal=TERM
stopwaitsecs=300
user=ubuntu
stdout_logfile=/srv/timeline-writer/share/supervisor.out.log
stderr_logfile=/srv/timeline-writer/share/supervisor.err.log
environment=
    ORCHID_MYSQL_MAIN="",
    ORCHID_MYSQL_SHARD="",
    ORCHID_MYSQL_DEBUG="",
    ORCHID_DYNAMODB_REGION="",
    ORCHID_DYNAMODB_TIMELINE_TABLE="",
    ORCHID_SQS_REGION="",
    ORCHID_SQS_QUEUE_URL="",
    ORCHID_PARALLEL=10
