[program:news-feed-writer]
command=/srv/news-feed-writer/current/worker
numprocs=1
autostart=true
autorestart=true
stopsignal=TERM
stopwaitsecs=60
user=ubuntu
stdout_logfile=/srv/news-feed-writer/share/supervisor.out.log
stderr_logfile=/srv/news-feed-writer/share/supervisor.err.log
environment=
    MYSQL_SHARD_0_URI="",
    MYSQL_SHARD_1_URI="",
    SQS_QUEUE_REGION="ap-southeast-1",
    SQS_QUEUE_URL="",
    PARALLEL="",
    DEBUG=""
